/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #5a9367;
  color: #f3fcf0;
  cursor: pointer;
  padding: 18px;
  margin: 0px;
  height: auto;
  border: none;
  text-align: left;
  outline: none;
  font-family: "Josefin Sans", sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #4a8357;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  background-color: #374e57;
  padding: 0 18px;
  margin: 0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.collapsible:after {
  content: "\02771"; /* Unicode character for "plus" sign (+) */
  transform: rotate(90deg);
  float: right;
  padding: 0 1em;
  color: #f3fcf0;
}

.active:after {
  content: "\02770"; /* Unicode character for "minus" sign (-) */
  color: #f3fcf0;
}
