navbar ul {
  margin: 0;
  padding: 0;

  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);

  list-style-type: none;
  overflow: hidden;
  background-color: #bd632f;
}

navbar li {
  width: 160px;
  float: left;
}

navbar li a {
  display: block;
  color: #f3fcf0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

navbar li a:hover:not(.active) {
  background-color: #d8973c;
}

.active {
  background-color: #d8973c;
}

navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}
