@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.block {
  width: 80%;
  margin: 0;
  padding: 0.5em 10%;
}

.link {
  color: #59a5d8;
  text-decoration: none;
}

.code {
  padding: 0.2em;
  color: #1b998b;
  background: #172e37;
  font-family: "Roboto Mono", monospace;
}

hide {
  color: #e63b2e;
  background-color: #e63b2e;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2,
h3 {
  text-align: center;
}

/* Setting default Header Sizes */
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 2.2em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.5em;
}

footer {
  text-align: center;

  /* display: inline-block; */
  font-size: 0.8em;
  bottom: 0%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #172e37;
}

footer table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

footer td {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  column-width: auto;
  text-align: center;
}

footer th {
  text-align: center;
}

body {
  font-size: 1.4em;
  line-height: 2em;
  margin: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 5em;
  color: #f3fcf0;
  font-family: "Josefin Sans", sans-serif;
  background-color: #273e47;
}

@media (max-width: 1000px) {
  body {
    font-size: 1.2em;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 1em;
  }
}
