@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.block {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

.link {
  color: #59a5d8;
  text-decoration: none;
}

hide {
  color: #e63b2e;
  background-color: #e63b2e;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,
h2 {
  text-align: center;
}

footer {
  text-align: left;

  display: inline-block;
  font-size: 0.8em;
  bottom: 0%;
  height: 20em;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #172e37;
}

footer table {
  margin: 0.5em;
}

footer td {
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

footer th {
  text-align: center;
}

body {
  font-size: 1.4em;
  line-height: 2em;
  margin: 0px;
  margin-top: 5em;
  color: #f3fcf0;
  font-family: "Josefin Sans", sans-serif;
  background-color: #273e47;
}

@media (max-width: 1000px) {
  body {
    font-size: 1.2em;
  }
}

@media (max-width: 800px) {
  body {
    font-size: 1em;
  }
}

@media (max-width: 700px) {
  body {
    font-size: 0.8em;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 0.6em;
  }
  .block {
    font-size: 0.8em;
  }
}
